.rc-conversion-three {
  padding: 20px 0;
}
@media (min-width: 576px) {
  .rc-conversion-three {
    display: flex;
    width: calc(100% + 20px);
  }
}
.rc-conversion-three__item {
  text-align: center;
  margin: 0 20px;
  padding: 20px 0;
}
@media (min-width: 576px) {
  .rc-conversion-three__item {
    width: 33.33333%;
  }
}
.rc-conversion-three__count {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid #ddd;
  line-height: 100%;
  font-size: 40px;
  font-family: Segoe UI, sans-serif;
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  box-shadow: 2px 2px 10px #eaeaea;
}
.rc-conversion-three__title {
  font-size: 20px;
  padding: 0;
  margin: 20px 0 0;
  line-height: 22px;
  display: block;
  font-weight: 500;
}
