.rc-image-half-right {
  display: flex;
  padding: 20px 0;
  align-items: center;
}
@media (max-width: 767.98px) {
  .rc-image-half-right {
    display: block;
    padding: 20px 0;
  }
}
.rc-image-half-right__image {
  width: 50%;
  padding: 0 0 0 30px;
}
@media (max-width: 767.98px) {
  .rc-image-half-right__image {
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
}
.rc-image-half-right__text {
  width: 50%;
  padding: 0 30px 0 0;
}
@media (max-width: 767.98px) {
  .rc-image-half-right__text {
    width: 100%;
    padding: 0;
  }
}
.rc-image-half-right__img {
  max-width: 100%;
  height: auto;
}
.rc-image-half-right__p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 26px;
}
.rc-image-half-right__header {
  font-size: 30px;
  padding: 0;
  margin: 0 0 25px;
}
