.rc-image-half-left {
    display: flex;
    padding: 50px 0;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 767.98px) {
    .rc-image-half-left {
        padding: 20px 0;
    }
}

.rc-image-half-left__image {
    width: 50%;
    padding: 0 30px 0 0;
}

@media (max-width: 767.98px) {
    .rc-image-half-left__image {
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
        padding: 30px 0 0;
        text-align: center;
    }
}

.rc-image-half-left__text {
    width: 50%;
    padding: 0 0 0 30px;
}

@media (max-width: 767.98px) {
    .rc-image-half-left__text {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
        padding: 0;
    }
}

.rc-image-half-left__img {
    max-width: 100%;
    height: auto;
}

.rc-image-half-left__header {
    font-size: 30px;
    padding: 0;
    margin: 0 0 25px;
}

.rc-image-half-left__p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 26px;
}
